.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 4.75rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(15, 15, 15, 0.781);
    box-shadow: 0 5px 20px rgb(0, 0, 0);
    z-index: 100;
    align-items: center;
    font-size: 16px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    white-space: nowrap;
    padding: 0.25em;
}

.logout-container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 6rem;
}

.logout-button {
    font-size: 1.4em;
    background-color: #c22b2b;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
    padding: 0.5em 1em;
    white-space: nowrap;
}

.logout-button:hover {
    background-color: #c22b2bcc;
}

.link {
    text-decoration: none;
}

.link:visited {
    color: white;
}

@media (max-width: 576px) {
    .header {
        font-size: 10px;
    }

    .logout-button {
        padding: 6px 14px;
    }

    .logout-container {
        padding-right: 1em;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .logout-button {
        padding: 6px 12px;
    }

    .logout-container {
        padding-right: 2.5em;
    }
}